<infinite-scroll
  (scrolled)="onScroll()"
  [loading]="loading"
  [hasMore]="hasMore"
>
  <app-animate-list class="library" [library]="library">
    <ng-container *ngFor="let photo of library; trackBy: trackByFn">
      <app-single-item
        [photo]="photo"
        (addFavorite)="addToFavorite(photo)"
      ></app-single-item>
    </ng-container>

    <div *ngIf="!library.length" style="margin-top: 7rem">
      <h1 style="font-weight: 500">{{ errorMessage }}</h1>
    </div>
  </app-animate-list>
</infinite-scroll>
