/**************************/
/* NAVIGATION */
/**************************/
:host ::ng-deep .mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 4rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav {
  & .main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 7.8rem;
  }
}

.main-nav-link {
  background-color: black;
}

.custom-button {
  padding: 0.5rem 7rem;
}
