:root {
  --error-color: #dc3545;
  --not-found-shade: rgb(255, 195, 201);
  --grey: rgb(215, 218, 219);
  --light-slate: #a8b2d1;
  --lightest-slate: rgb(204, 214, 246);
  --lightesttt-slate:rgb(226, 230, 241);
  --lightest-slate-rgba: rgba(204, 214, 246, 0.7);

  --main-fonts: "Calibre", "Open Sans", sans-serif;
  --fonts-sans: "Times", sans-serif;
  --logo-fonts: "Open Sans", "sans-serif"
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;

  --cubanime: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --nav-scroll-height: 70px;
}
